PORT=5000
DATABASE_URL="postgresql://user:password@localhost:5432/mydb?schema=public"

# Gmail Credentials for Nodemailer
GMAIL_USER="a"
GMAIL_APP_PASSWORD="a"

# The admin's Gmail address where contact form submissions will be sent
ADMIN_EMAIL="a"

# Google Calendar OAuth Credentials
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"
GOOGLE_REFRESH_TOKEN="your_google_refresh_token"