PORT=5000
DATABASE_URL="postgresql://user:password@localhost:5432/mydb?schema=public"

# Gmail Credentials for Nodemailer
GMAIL_USER="a"
GMAIL_APP_PASSWORD="a"

# The admin's Gmail address where contact form submissions will be sent
ADMIN_EMAIL="a"
